body {
    background-image: url(/public/assets/images/1000_F_97060997_Lo4QXaiQU4Cj7OZwwT9iDiBOSpdSZuIk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Ibirapuera {}

.Ibirapuera h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: font9;
    font-size: 80px;
    color: #ffffff;
    padding-top: 120px;
    text-shadow: 0.1em 0.1em #333
}

.Nav1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
    font-family: font4;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    text-decoration: underline;
    text-shadow: 0.1em 0.1em #000000
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: font2;
    padding-top: px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}